<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{siteTitle}}</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="robots" content="noindex, nofollow" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
  <link rel="alternate" type="application/rss+xml" title="{{siteTitle}}" href="{{feedHref}}" />
  <link href="index.css" rel="stylesheet" />
</head>

<body>
  <header>
    <dl>
      <dt><b>사이트 이름</b></dt><dd>{{siteTitle}}</dd>
      <dt><b>마지막 업데이트 시간</b></dt><dd>{{siteBuildTimestamp}}</dd>
      <dt><b>Cli 버전</b></dt><dd>{{cliVersion}}</dd>
      <dt><b>문서 URL</b></dt><dd>{{projectUrl}}</dd>
    </dl>
  </header>


  <ul>
  {{#each dates}}
    <li>
      <section>
      <h1>{{isoPublishDate}}</h1>

      <ul>
        {{#each sources}}
        <li>
          <section>
            <h2>
              <a href="{{siteUrl}}">{{title}}</a>
            </h2>

            {{#each articles}}
            <article>
                <h3><a href={{link}}>{{title}}</a></h3>
                <dl>
                  <dt>출처</dt>
                  <dd><a href={{source.siteUrl}}>{{source.title}}</a></dd>
                  <dt>작성일</dt>
                  <dd><time>{{isoPublishDate}}</time></dd>
                  <dt>작성 시간</dt>
                  <dd><time>{{publishedOn}}</time></dd>
                  <dt>읽는 시간</dt>
                  <dd><time>{{readingTimeInMin}}분</time></dd>
                  <dt>단어 수</dt>
                  <dd><time>{{wordCount}}</time></dd>
                </dl>
              </details>
            </article>
            {{/each}}

          </section>
        </li>

        {{/each}}
      </ul>

      </section>
  {{/each}}
  </ul>
</body>

</html>
